.ant-layout-header .logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}
.ant-layout-header .left {
 
  float: left;
}
.ant-layout-header .right {
 
  float: right;
}

.login{
  color: white;
}